input {
  margin-bottom: 1rem;
}

.my-input-text {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #ccc;
}

.search-input {
  width: 90%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #ccc;
  margin-bottom: 0;
}

.input-check-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-check-area > input {
  margin-bottom: 0;
}

.btn-check {
  width: 25%;
  background-color: white;
  border: 0.1rem solid #ccc;
}
