.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-check-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-check-area > input {
  margin-bottom: 0;
}

.btn-check {
  width: 25%;
  background-color: white;
  border: 0.1rem solid #ccc;
}
